[Unit]
Description=End Blue Light Filter

[Service]
Type=simple
WorkingDirectory=%h
ExecStart=%h/.bin/system.timer.bluelightfilter.end.sh

[Install]
WantedBy=default.target
