[Unit]
Description=Start Blue Light Filter

[Service]
Type=simple
#Environment=DISPLAY=:0.0
WorkingDirectory=%h
ExecStart=%h/.bin/system.timer.bluelightfilter.start.sh

[Install]
WantedBy=default.target
