[Unit]
Description=Check if Waydroid is running

[Service]
Type=simple
Restart=always
RestartSec=60s
WorkingDirectory=%h
ExecStart=%h/.bin/waydroid-check.sh

[Install]
WantedBy=default.target
