[Desktop Entry]
Name=Arknights
Comment=Genymotion
Exec=/usr/bin/gmtool admin start --coldboot "Arknights"
Terminal=false
Type=Application
Categories=Game;
