[Desktop Entry]
Name=CounterSide
Comment=Genymotion
Exec=python "/home/$USER/.bin/startup-counterside.py"
#/usr/bin/gmtool admin start --coldboot "CounterSide"
Terminal=false
Type=Application
Categories=Game;
