[Desktop Entry]
Name=Girls Frontline (Genymotion)
Comment=Genymotion
Exec=sh -c "/home/$USER/.bin/system.startup.genymotion.girls-frontline.sh"
Terminal=false
Type=Application
Categories=Game;
