[Desktop Entry]
Name=Neural Cloud
Comment=Genymotion
Exec=/usr/bin/gmtool admin start --coldboot "Neural Cloud"
Terminal=false
Type=Application
Categories=Game;
