[Desktop Entry]
Name=Pokemon Go (Phone001)
Comment=Scrcpy-Phone001
Exec=sh -c "/home/$USER/.bin/system.startup.scrcpy-phone001.pokemongo.sh"
Terminal=false
Type=Application
Categories=Game;
